app = "hackheroes25-advice" # unikalna nazwa, każdy u siebie może zmienić
primary_region = "waw"      # Frankfurt, blisko PL

[build]
image = "python:3.11-slim"

[env]
PORT = "8080"

[[services]]
internal_port = 8080
protocol = "tcp"
[[services.ports]]
handlers = ["http"]
port = 80
[[services.ports]]
handlers = ["tls", "http"]
port = 443
[[services.tcp_checks]]
interval = "15s"
timeout = "2s"
grace_period = "10s"
